{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<style>
    body {
        padding-top: 56px;
    }
</style>
<body>
{% block content %}
    {% csrf_token %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.username %}
                        <button><a href="{% url 'logout' %}">Logout</a></button>
                        <button><a href={% url 'orders' %}>My Orders</a></button>
                        <p style="color: white">Your cash: {{ user.cash }}</p>
{#                        {% if user.superuser %}#}
                            <li class="nav-item">
                   <span class="navbar text text-light">Hello, <span class="badge badge-danger">
                        <a style="font-size: 15px; color: white" href="#">{{ request.user.username }}</a></span></span>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-primary"><a style="color: black" href="{% url 'create' %}">Add Products to Shop</a>
                                </button>
                            </li>
                            {#                        <li class="nav-item">#}
                            {#                            <button class="btn btn-primary"><a href="{% url 'logout' %}">Logout</a></button>#}
                            {#                        </li>#}
                            <li class="nav-item">
                                <button class="btn btn-primary"><a style="color: black" href="{% url 'cancel' %}">Cancel orders</a></button>
                            </li>

                            {#                   <input type="submit" value="Buy">#}
{#                        {% endif %}#}
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <button><a href="{% url 'login' %}">Login</a></button>
                        <button><a href="{% url 'registration' %}">Registration</a></button>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

    <div class="row">

    <div class="col-lg-3 mt-5">
        <div class="list-group">
            {% for category in categories %}
                <a href="{{ category.url }}" class="list-group-item">{{ category.name }} ({{ category.count }})</a>
            {% endfor %}
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        {% for obj in object_list %}
            <form method="POST">
                <h2>{{ obj.name }}</h2>
                {% if obj.image %}
                    {{ obj.photo }}
                {% endif %}
                <p style="font-size: 30px">Characteristic: {{ obj.description }}</p>
                <p style="font-size: 30px; color: red">{{ obj.price }}</p>
                {#                <p style="font-size: 50px"><strong>{{ obj.available }}</strong></p>#}
                {% if user.is_authenticated %}
                    <input name="quantity" style="font-size: 20px; color: blue" type="number" min="1"
                           max="{{ obj.quantity }}">
                    <input type="submit" value="Buy">
                {% endif %}
                {% if request.user.is_superuser %}
                    <button><a href="{% url 'update' obj.id %}"></a>Change info about this position</button>
                {% endif %}
            </form>
        {% endfor %}
    </div>
    <!-- /.row -->
{% endblock content %}
</div>
<!-- /.col-lg-9 -->

</div>
<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>