<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% block content %}
        {% csrf_token %}
    {% if user.superuser %}
        <button><a href = '/update'>Add Products to Shop</a></button>
        <button><a href = '/cancel'>Cancel orders</a></button>
        <input type="submit" value="Buy">

        {% if user.is_authenticated %}
            <button><a href = '/logout'>Logout</a></button>
            <button><a href = '/order'>My Orders</a></button>
            <p>Your cash: {{user.cash}}</p>
        {% endif %}
    {% else %}
        <button><a href = '/login'>Login</a></button>
        <button><a href = '/registration'>Registration</a></button>
    {% endif %}

        {% for obj in object_list %}
            <form method="POST">
                <h2>{{ obj.name }}</h2>
                {% if obj.image %}
                    {{ obj.photo }}
                {% endif %}
                <p style="font-size: 150px">Characteristic: {{ obj.description }}</p>
                <p style="font-size: 250px; color: red">{{ obj.price }}</p>
                <p style="font-size: 200px"><strong>{{ obj.available }}</strong></p>


            </form>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% endblock %}
</body>
</html>