{% extends 'base.html' %}

{% block content %}
    {% for obj in object_list %}
        <form method="post" action="{% url 'come_back' obj.id %}">
        {% csrf_token %}
            {{ obj.cancel.customer }} bought {{ obj.quantity }} {{ obj.name }} in {{ obj.price }}
            <button>Return Money</button>
            <input type="hidden" name="id" value="{{ obj.id }}">
        </form>
    {% endfor %}





<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}