{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'return' %}">
        {% csrf_token %}
        {% if user %}
            {% for obj in object_list %}
                <p style="font-size: 50px">Your buy {{ obj.name }} for {{ obj.total_price }}</p>
                <input type="hidden" name="cancel" value="{{ obj.id }}">
                <button>Cancel the shipping</button>
            {% endfor %}
        {% endif %}
    </form>
    {#    <form method="POST" action="{% url 'cancel' order.id %}">#}
    {#        {% csrf_token %}#}
    {#        {% if user.is_superuser %}#}
    {#            <input type="hidden" name="order" value="{{ order.id }}">#}
    {#            <button><a href="{% url 'cancel'  %}"></a>Cancel the shipping</button>#}
    {#        {% endif %}#}
    {#    </form>#}




    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}
